In [1]:
# imports
import pandas as pd

In [2]:
# Capturando excel
tabela_vendas = pd.read_excel('../Arquivos/Vendas.xlsx')
pd.set_option('display.max_columns', None)# Pegar todas as linhas do excel

In [3]:
# Calculando
faturamento = tabela_vendas[['ID Loja', 'Valor Final']].groupby('ID Loja').sum().reset_index()
quantidade = tabela_vendas[['ID Loja', 'Quantidade']].groupby('ID Loja').sum().reset_index()
ticket_medio = (faturamento['Valor Final'] /quantidade['Quantidade']).to_frame().reset_index()

In [4]:
faturamento.head() # 5 primeiras linhas

                      ID Loja  Valor Final
0         Bourbon Shopping SP      1726110
1  Center Shopping Uberlândia      1668921
2           Iguatemi Campinas      1762419
3          Iguatemi Esplanada      1699681
4              Norte Shopping      1711968

In [5]:
faturamento.tail() # 5 ultimas linhas

                     ID Loja  Valor Final
20          Shopping Morumbi      1586444
21           Shopping Recife      1624879
22        Shopping SP Market      1721763
23  Shopping União de Osasco      1663770
24       Shopping Vila Velha      1731167

In [6]:
faturamento[['ID Loja', 'Valor Final']].to_json(orient="records")

'[{"ID Loja":"Bourbon Shopping SP","Valor Final":1726110},{"ID Loja":"Center Shopping Uberl\\u00e2ndia","Valor Final":1668921},{"ID Loja":"Iguatemi Campinas","Valor Final":1762419},{"ID Loja":"Iguatemi Esplanada","Valor Final":1699681},{"ID Loja":"Norte Shopping","Valor Final":1711968},{"ID Loja":"Novo Shopping Ribeir\\u00e3o Preto","Valor Final":1678225},{"ID Loja":"Palladium Shopping Curitiba","Valor Final":1721120},{"ID Loja":"Parque Dom Pedro Shopping","Valor Final":1631630},{"ID Loja":"Passei das \\u00c1guas Shopping","Valor Final":1649014},{"ID Loja":"Ribeir\\u00e3o Shopping","Valor Final":1707122},{"ID Loja":"Rio Mar Recife","Valor Final":1722766},{"ID Loja":"Rio Mar Shopping Fortaleza","Valor Final":1698430},{"ID Loja":"Salvador Shopping","Valor Final":1646739},{"ID Loja":"Shopping Barra","Valor Final":1653103},{"ID Loja":"Shopping Center Interlagos","Valor Final":1640486},{"ID Loja":"Shopping Center Leste Aricanduva","Valor Final":1682870},{"ID Loja":"Shopping Eldorado","Valor Final":1648111},{"ID Loja":"Shopping Ibirapuera","Valor Final":1635060},{"ID Loja":"Shopping Iguatemi Fortaleza","Valor Final":1674824},{"ID Loja":"Shopping Midway Mall","Valor Final":1590441},{"ID Loja":"Shopping Morumbi","Valor Final":1586444},{"ID Loja":"Shopping Recife","Valor Final":1624879},{"ID Loja":"Shopping SP Market","Valor Final":1721763},{"ID Loja":"Shopping Uni\\u00e3o de Osasco","Valor Final":1663770},{"ID Loja":"Shopping Vila Velha","Valor Final":1731167}]'

In [7]:
faturamento[2:5]

              ID Loja  Valor Final
2   Iguatemi Campinas      1762419
3  Iguatemi Esplanada      1699681
4      Norte Shopping      1711968

In [8]:
faturamento.index.values # imprime os indices da cada linha

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [9]:
faturamento.columns # imprime as colunas

Index(['ID Loja', 'Valor Final'], dtype='object')

Describe:
- count: Número de observações não nulas. Neste caso, seria o número total de lojas listadas.
- mean: Média dos valores. Seria a média dos valores finais de todas as lojas.
- std: Desvio padrão dos valores. Isso indica o quanto os valores finais variam.
- min: Valor mínimo. Seria o menor valor final entre todas as lojas.
- 25%: Primeiro quartil, também conhecido como o 25º percentil. 25% dos valores finais são menores que este valor.
- 50%: Mediana, também conhecida como o 50º percentil. 50% dos valores finais são menores que este valor.
- 75%: Terceiro quartil, também conhecido como o 75º percentil. 75% dos valores finais são menores que este valor.
- max: Valor máximo. Seria o maior valor final entre todas as lojas.

In [10]:
faturamento.describe()

        Valor Final
count  2.500000e+01
mean   1.675083e+06
std    4.502066e+04
min    1.586444e+06
25%    1.646739e+06
50%    1.674824e+06
75%    1.711968e+06
max    1.762419e+06

In [11]:
faturamento.T # Inverte colunas e linhas

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
ID Loja,Bourbon Shopping SP,Center Shopping Uberlândia,Iguatemi Campinas,Iguatemi Esplanada,Norte Shopping,Novo Shopping Ribeirão Preto,Palladium Shopping Curitiba,Parque Dom Pedro Shopping,Passei das Águas Shopping,Ribeirão Shopping,Rio Mar Recife,Rio Mar Shopping Fortaleza,Salvador Shopping,Shopping Barra,Shopping Center Interlagos,Shopping Center Leste Aricanduva,Shopping Eldorado,Shopping Ibirapuera,Shopping Iguatemi Fortaleza,Shopping Midway Mall,Shopping Morumbi,Shopping Recife,Shopping SP Market,Shopping União de Osasco,Shopping Vila Velha
Valor Final,1726110,1668921,1762419,1699681,1711968,1678225,1721120,1631630,1649014,1707122,1722766,1698430,1646739,1653103,1640486,1682870,1648111,1635060,1674824,1590441,1586444,1624879,1721763,1663770,1731167

In [12]:
faturamento.to_csv("teste.csv")